{% extends 'index.html' %}

{% block main %}

<main >
        <h2 class="place">您现在的位置是：网站首页&gt; <a href="/">文章列表</a></h2>
        <div class="timebox">
          <ul>
            {% for topic in params.topics %}
            <li><span>{{topic.pub_date}}</span><i><a href="/info?topic_id={{topic.id}}" target="_blank">{{topic.title}}</a></i></li>
            {% endfor %}
          </ul>
        </div>
        <!--<div class="pagelist"><a title="Total record">&nbsp;<b>160</b> </a>&nbsp;&nbsp;&nbsp;<b>1</b>&nbsp;<a href="/jstt/index_2.html">2</a>&nbsp;<a href="/jstt/index_3.html">3</a>&nbsp;<a href="/jstt/index_4.html">4</a>&nbsp;<a href="/jstt/index_5.html">5</a>&nbsp;<a href="/jstt/index_6.html">6</a>&nbsp;<a href="/jstt/index_2.html">下一页</a>&nbsp;<a href="/jstt/index_14.html">尾页</a></div>-->
      </main>
{% endblock %}



{% block fenlei %}
{% endblock %}

{% block newstw %}
{% endblock %}

{% block tjlm %}
{% endblock %}

{% block links %}
{% endblock %}

